<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Application Config-->
    <add key="ApplicationUrl" value=""/>
    <add key="Username" value="" />
    <add key="Password" value="" />
    
    <add key="Environment" value="local"/>

    <!--For Local Environment-->
    <add key="Browser" value="chrome" />
    <add key="DriverPath" value="\Lib\Drivers" />
    <add key="WaitTimeInMinutes" value="1" />

    <!--For Remote Environment-->

    <!--Sauce labs Settings-->
    <add key="RemoteEnvironment" value=""/>
    <add key="CommandExecutionUri" value=""/>
    <add key="RemoteBrowser" value=""/>
    <add key="RemoteBrowserVersion" value=""/>
    <add key="RemotePlatform" value=""/>
    <add key="ScreenResolution" value=""/>
    <add key="MaximumDuration" value=""/>
    <add key="RecordScreenshots" value="true"/>
    <add key="RecordVideo" value="true"/>
    <add key="SauceLabsUserName" value=""/>
    <add key="SauceLabsUserPassword" value=""/>

    <!--For Remote Environment-->
    
    <!--Database Settings-->

    <add key="Server" value=""/>
    <add key="DatabaseName" value=""/>
    <add key="UserId" value=""/>
    <add key="UserPassword" value=""/>

    <!--Database Settings-->

  </appSettings>

</configuration>